.header {
    grid-area: h;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header img {
    width: 50px;
}
.loginBlock {
    text-decoration-line: none;
    color: #000;
    font-size: 20px;


}
.loginBlock img {
    float: right;
    margin-right: 200px;
    max-height: 40px;
    max-width: 50px;

}
.button {
    border-radius: 8px;
    background-color: #F2F2F2;
    border: none;
    color: black;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 65px;
    height: 25px;
}
.button:hover {
    background-color: #AF3551;
    color: white;
}