.item {
    margin-bottom: 40px;

}
.item img {
    width: 50px;
    border-radius: 50px;
}
.textMessage {
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
    height: 70px;
    width: 600px;
    background-color: #D3D3D3;
}

.like {
    display: flex;
    align-items: center;

}

.like  img {
    width: 30px;
}
.userInfo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.username {
    margin: 0 10px;
    font-weight: 700;
}
.likesCount {
    color: lightpink;
    margin-left: 5px;
}
.time {
    color: #e3e3e3;
    font-size: 11px;
    margin-right: 5px;
}