.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  padding-top: 10px;

  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.app-wrapper-content {
  grid-area: c;
  background-color: #fff;
  border-radius: 10px;
  min-height: 90vh;
  padding: 15px;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
}