.nav {
    grid-area: n;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;

}
.item a {
    color: #000;
    text-decoration: none;
}
.item a.activeLink {
    color: #0077b6;
    font-weight: 700;
}
